<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/assets/style.css" />
    <title>F8 - học lập trình để đi làm</title>
  </head>
  <body>
    <header>Header</header>
    <main><%- body %></main>
    <footer>Footer</footer>
  </body>
</html>
